body {
  margin: 0;
  padding: 0;
<<<<<<< HEAD
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
=======
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
>>>>>>> randyc-register
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
<<<<<<< HEAD
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
=======
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
>>>>>>> randyc-register
    monospace;
}
