h2 {
  padding: 30px;
  font-size: 2rem;
}

p {
  font-size: 1.2rem;
}

img {
  margin-right: 5px;
}

.friends {
  border: 1px solid black;
  background-color: lightgray;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
